.root {
    display: inherit;
    width: 100%;
    height: 210vh;
}


.barrier {
    display: block;
    height: 3vh;
    background-color: darkturquoise;
}


html{
    background-color: aliceblue;
}


.flex-container {
    margin-top: -100px;
    margin: 0px;
    display: flex;
    background-color: greenyellow;
}

@media (min-width: 768px) {
    .video-panel {
        display: inline-block;
        width: 73%;
        /*background-color: lightcoral;
        /* background: linear-gradient(to bottom, #f3f3f3, #ccc); */
        background-color: white;
        height: 200vh;
    }

    .video-container{
        background-color: black;
    }


    video{
        max-height: 100%;
        background-color: black;
    }

    .up-next {
        display: inline-block;
        height: 200vh;
        width: 27%;
        background-color: white;
        position: absolute;
        padding: 0px;

    }

}

@media (max-width: 767px) {
    .video-panel {
        display: block;
        /* width: 100%; */
        /*background-color: lightcoral;*/
        /* background: linear-gradient(to bottom, #f3f3f3, #ccc); */
        background-color: white;
        height: 200vh;
    }

    .video-container{
        background-color: black;
    }


    video{
        max-height: 100%;
        background-color: black;
    }

    .up-next {
        display: inline-block;
        height: 200vh;
        width: 100%;
        background-color: white;
        position: absolute;
        padding: 0px;
    }



}









.up-next ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}




.up-next-text {
    font-size: 1.5vw;
    letter-spacing: 1px;
    line-height: 16.5px;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: normal;
    color: #4c4c4c;
}





/*//////////////       Desktop Display Settings       //////////////*/

@media (min-width: 768px) {
    .video-container {
        width: 66vw;
        height: 32.125vw;
        display: inline-block;
        margin-top: 2.5vh;
        position: relative;
        margin-left: 5vw;
        background-color: white;
        opacity: 1;
    }



    .video-controls {
        display: inline-block;
        position: relative;
        bottom: 0px;
        width: 4vw;
        /* min-width: 32px; */
        min-height: 38.4px;
        height: 3vw;
        z-index: 3;
        margin-right: 0.1vw;
    }


    .video-controls-alt {
        display: inline;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, #4c4c4c, rgba(0, 0, 0, 0.5));
        width: 6vw;
        /* min-width: 80px; */
        z-index: 3;
        min-height: 38.4px;
        height: 3vw;
        margin: 0px;
        margin-right: 0.1vw;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0px;
        /* background-color: white; */
        white-space: nowrap;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    }

    .timeline {
        bottom: 2.7vw;
    }

    .video-title {
        font-size: 1.5vw;
    }

}




@media (max-width: 768px) {
    .video-container {
        width: 80vw;
        height: 80vh;
        display: inline-block;
        margin-top: 1vh;
        position: relative;
        margin-left: 50vw;
        transform: translate(-50%, 0%);
        /* background-color: white; */
        /* background-color: rgb(255, 127, 212); */
        opacity: 1;
        min-width: 550px;
    }


    .button-container {
        display: block;
        position: absolute;
        width: 100%;
        height: 0%;
        bottom: 20px;
        /* background-color: white; */
        white-space: nowrap;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    }


    .video-controls{
        display: inline-block;
        position: relative;
        bottom: 5.6vw;
        width: 5vw;
        min-width: 50px;
        /* min-width: 32px; */
        min-height: 38.4px;
        height: 5vw;
        z-index: 3;
        margin-right: 0.1vw;
    }

    .video-controls-alt, .video-controls-special {
        display: inline;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(to bottom, #4c4c4c, rgba(0, 0, 0, 0.5));
        width: 6vw;
        /* min-width: 80px; */
        z-index: 3;
        min-height: 38.4px;
        height: 5vw;
        margin: 0px;
        margin-right: 0.1vw;
        justify-content: center;
        align-items: center;
        bottom: 5.6vw;



    }


    .video-title {
        font-size: 4vh;
        margin: 0px;
    }

    .timeline {
        bottom: 5vw;
    }


}

video {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.button-container {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    /* background-color: white; */
    white-space: nowrap;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.video-container .video-controls,
.video-container .video-controls-alt,
.video-container .video-controls-special,
.video-container .timeline,
.video-container .duration-text {
    opacity: 0.0;
    transition: opacity 0.3s ease;
}

.video-container:hover .video-controls,
.video-container:hover .video-controls-alt,
.video-container:hover .video-controls-special,
.video-container:hover .timeline,
.video-container:hover .duration-text {
    opacity: 1;
}

.timeline {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0px;
    z-index: 4;
    padding-bottom: 0px;
}



button {
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #4c4c4c, rgba(0, 0, 0, 0.5));
    font-family: "Arial", "Helvetica", "Arial", sans-serif;
    vertical-align: middle;
    color: white;
    border: white 0px solid;
    padding: 10px 20px;
    font-size: 1vw;
    font-size: calc(8px + 0.8vw);
    margin: 0px;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
}

.button-container input {
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #4c4c4c, rgba(0, 0, 0, 0.5));
    width: 5vw;
    height: 12px;
    margin: 0px;
    padding: 0px;
    z-index: 5;
}

.duration-text {
    font-family: "Arial", "Helvetica", "Arial", sans-serif;
    color: white;
    right: 0vw;
    margin: 0px;
    z-index: 3;
    bottom: 0px;
    margin: 3px 0px -0px 0px;
}

.button-container select {
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #4c4c4c, rgba(0, 0, 0, 0.5));
    color: white;
    display: inline;
    size: 100px;
    font-size: 1.25vw;
    vertical-align: middle;
}

select option {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

.video-controls-special {
    display: inline-block;
    position: relative;
    bottom: 0px;
    width: 29.2vw;
    min-width: 32px;
    min-height: 38.4px;
    height: 3vw;
    z-index: 3;
    margin-right: 0.1vw;
}



.video-title {
    display: block;
    letter-spacing: 1px;
    line-height: 16.5px;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 5vw;
}




.description-box {
    background-color: #e4e4e4;
    margin-left: 5vw;
    padding: 0.25vw 1vw;
    border-radius: 12px;
    width: 64.25vw;
    outline: 1px gray solid;
}