/* .root{
    display: inherit;
}

.flex-container{
    margin-top: -100px;
    margin: 0px;
    display: flex;
}


.video-panel{
    display: inline-block;
    width: 75%;
    /*background-color: lightcoral;*/   /*
    background: linear-gradient(to bottom, #f3f3f3, #ccc);

    height: 100vh;
    
}

img{
    width: 8vw;
}

ul{
    list-style-type: none; 
}


h1{
    margin-left: 1.5vw;
    margin-top: 1.5vh;
}



.video-panel h1{
    margin-left: 5vw;
}


.up-next{
    display: inline-block;
    height: 100vh;
    width: 25%;
    background-color: skyblue;
    position: absolute;
}




.video-item{
    background-color: aquamarine;
    display: flex;
    width: 20vw;
    margin-bottom: 4vh;
}

.video-item p{
    font-weight: bold;
    padding-left: 0.7vw;
    margin-top: 0.4vh;
    font-size: 1vw;
}

.video-item img{
    border-radius: 7.5px;
}







.video-container{
    width: 66vw;
    height: 37.15vw;
    display: inline-block;
    margin-top: 5vh;
    position: relative;
    margin-left: 5vw;
    background-color: aquamarine;
    opacity: 1;
}

video{
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;

}

.button-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100%;
    background-color: blue;
  }
  

  button{
    /*margin: 10px;*/   /*
    padding: 5px;
    width: 100px;
    height: 30px;

    z-index: 3;
}


  .floating-button {
    position: inline;
    display: flex;
    bottom: 0%;
    left: 0%;
    height: 5%;
    width: 10%;
    margin: 0px;
    z-index: 3;
    font-size: 1vw;
    padding-left: 2vw;
    padding-top: 0.25vw;
  }


  .floating-button-two {
    position: inline-flex;
    display: flex;
    bottom: 0%;
    left: 10%;
    height: 5%;
    width: 10%;
    margin: 0px;
    z-index: 3;
  }

   */




   /*//////////////       Current Testing Field, trying to overlay the buttons above the video player       //////////////*/

   
.video-container{
    width: 66vw;
    height: 37.15vw;
    display: inline-block;
    margin-top: 5vh;
    position: relative;
    margin-left: 5vw;
    background-color: aquamarine;
    opacity: 1;
}

video{
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
}


.button-container{
    display: block;
    position: absolute;
    bottom: 0px;
}



.video-controls{
    display: inline-block;
    position: relative;
    bottom: 0px;
    width: 4vw;
    height: auto;
    z-index: 3;
}


.timeline{
    display: block;
    position: absolute;
    bottom: 24px;
    width: 100%;
    margin: 0px;
    z-index: 3;
}










  

  .hide{
    display: none;
  }


