.root{
    width: 100%;
    height: 0px;
    padding: 0;
    background-color: aliceblue;
    display: block;
    position: absolute;
    overflow: hidden;
}

.calendar {
    font-family: Arial, sans-serif;
    margin: 5vh 10vw 0 10vw;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
  }
  
  .month {
    text-align: center;
    margin-bottom: 10px;
  }
  
  table {
    width:100%;
    height: 10vw;
  }
  
  th{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    background: #ccc;
    border-radius: 15px;
  }

  td {
    text-align: left;
    padding: 0px 0px 0px 15px;
    margin: 0%;
    max-width: 3vw;
    min-height: 200px;
    z-index: 9;
    position: inherit;
    background-color: #ddd;
    border-radius: 15px;


    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 16.5px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: normal;
    color: rgb(51, 51, 51);
  }
  

  .introParagraph{
    margin: 3% 10% 0 10%;
  }

  .gap {
    height: 1px;
    background-color: grey;
    width: 100%;
    margin: 10px auto; /* Adjust the margin values as needed */
  }
  

  .introParagraph h2{
    font-size: 30px;
    letter-spacing: 0.75px;
    line-height: 16.5px;
    text-decoration: none;
    font-weight: normal;
    color: rgb(51, 51, 51);
  }
  
  .introParagraph p{
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 25px;
    text-decoration: none;
    font-weight: lighter;
    color: rgb(51, 51, 51);
  }

.event{
  font-weight: bold;;
}


  /* thead th {
    background-color: #ddd;
    border-radius: 150px;
  } */
  
  td:first-child{
    color: #056985;
    background-color: #ccc;
    border-radius: 15px;
  }
  
  td:last-child{
    color: #056985;
    background-color: #ccc;
    border-radius: 15px;
  }

  td:not(:empty):hover {
    background-color: #bbb;
    border-radius: 15px;
  }
  

  .dateBox {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5vh;
    display: flex;
    align-items: center; /* Add this line to vertically center the content */
    /* background-color: rgba(180, 180, 180, 0.5); */
  }
  
  .dateBox h3 {
    margin: 4% 0 4% 0; /* Add this line to remove the default margin */
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
  }
  

  .eventBox p {
    margin: 0; /* Add this line to remove the default margin */
    padding: 0px;
    display: block;
  }


  .dateBox p {
    margin: 0; /* Add this line to remove the default margin */
    padding: 0px;
    margin-bottom: 10%;
    display: block;
  }



/* .dateBox {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5vh;
  display: flex; /* Change display to flex */
/*  flex-direction: column; /* Add flex-direction property */
/*  justify-content: space-between; /* Add justify-content property */
/*  min-height: 30px;
  background-color: rgba(180, 180, 180, 0.5);
  width: 100%; /* Add width property */
/*} */


.today{
  color: white;
  background-color: rgb(50, 50, 50);
  border-radius: 500px;
}

